<div class="container">
    <div class="card-group">
        <% facultyList.forEach(e => { %>
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="<%= e.profilePic %>" alt="Card image cap" style="width: 100%; height: 150px; object-fit: cover">
                <div class="card-body">
                  <h5><%= e.displayName %></h5>
                  <a href="/notifications/faculty/<%= e._id %>" class="btn btn-primary">Xem</a>
                </div>
              </div>
        <% }) %>
    </div>
</div>